<h2>SEJA BEM VINDO</h2>
<p>
   <strong> Data: </strong> <%= l(Date.today)%>
</p>
<p>
  <%= link_to 'Português', root_path(locale: 'pt-BR') %>
</p>
<p>
  <%= link_to 'Inglish', root_path(locale: 'en') %>
</p>
<p>
    Idioma = <strong> <%= t('actual_locale')%> </strong>
</p>

<%= render 'menu' %>


<p>
    Você está em <strong> <%= ambiente_rails %> </strong>
</p>
<p>
    <strong>
        <%= @meu_nome %>
    </strong>
</p>