<!DOCTYPE html>
<html>
  <head>
    <title>TesteProjeto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h5>CABEÇALHO - TESTE /views/layout/teste</h5>
    <strong> <%= link_to 'Index', root_path %> </strong>
    <p>
      <%= link_to 'Português', root_path(locale: 'pt-BR') %>
    </p>
    <p>
      <%= link_to 'Inglish', root_path(locale: 'en') %>
    </p>
    <%= yield %> <%# todas as páginas que utilizam o application %>
  </body>
</html>
